#primergrafico{
    width: 600px;
    margin-left: 28%;
}
#segundografico{
    width: 600px;
    margin-left: 28%;
}#tercergrafico{
    width: 600px;
    margin-left: 28%;
}#grafico{
    width: 600px;
    margin-left: 28%;
}
h2{
    text-align: center;
}